.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  font-family: Arial, sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #333;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

header {
  text-align: center;
}
.movie-slider-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}

.slider-item {
  position: relative;
}

.slider-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}



.slick-prev, .slick-next {
  z-index: 1;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:before, .slick-next:before {
  font-size: 24px;
}
.movie-slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.movie-slider img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 5px 15px   rgb(248, 3, 3);
}



section {
  padding: 2rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}